name: Deploy to FTP

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Use Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Copy static assets to standalone
        run: |
          mkdir -p .next/standalone/public
          mkdir -p .next/standalone/.next/static
          cp -r public/* .next/standalone/public/
          cp -r .next/static/* .next/standalone/.next/static/

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./.next/standalone/
